<div class="paper d-flex p-5 flex-column position-relative align-items-center px-4 pb-0">
    <div>
        <img src='assets/pin.png' class="pin position-absolute top-0 w-25">
    </div>
    <h1 class="fw-bold">Todo List</h1>
    <div class="overflow-y-scroll overflow-x-hidden w-100 px-3">
        <router-outlet></router-outlet>
    </div>
    @if(currentUrl === "/home") {
    <app-button class="my-5" label="New task" routerLink="/create" routerLinkActive="active"
        ariaCurrentWhenActive="page"></app-button>}
    @if (currentUrl === "/create"){
    <div class="d-flex w-100 justify-content-around">
        <app-button class="col-5 my-5" label="Done" routerLinkActive="active" ariaCurrentWhenActive="page"
            (taskNameHERE)="receiveTaskName($event)"></app-button>
        <app-button class="col-5 my-5" label="Cancel" routerLink="/home" routerLinkActive="active"
            ariaCurrentWhenActive="page"></app-button>
    </div>
    }
</div>